@charset "UTF-8";
@font-face {
  font-family: "Icons";
  font-style: normal;
  font-weight: 400;
  src: local("Icons"), url("https://blog.qaware.de/fonts/icons.woff") format("woff");
}

@font-face {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 400;
  src: local("Spartan Regular"), url("https://blog.qaware.de/fonts/l7gfbjR61M69yt8Z2QKtlAXJExs.woff2") format("woff");
}

@font-face {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 700;
  src: local("Spartan Bold"), url("https://blog.qaware.de/fonts/l7gfbjR61M69yt8Z2QKtlAXJExs.woff") format("woff");
}

@font-face {
  font-family: 'Hack';
  src: local("Hack"), url("https://blog.qaware.de/fonts/hack-regular-subset.woff2") format("woff2"), url("https://blog.qaware.de/fonts/hack-regular-subset.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: local("Hack Bold"), url("https://blog.qaware.de/fonts/hack-bold-subset.woff2") format("woff2"), url("https://blog.qaware.de/fonts/hack-bold-subset.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: local("Hack Italic"), url("https://blog.qaware.de/fonts/hack-italic-subset.woff2") format("woff2"), url("https://blog.qaware.de/fonts/hack-italic-subset.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Hack';
  src: local("Hack Bold Italic"), url("https://blog.qaware.de/fonts/hack-bolditalic-subset.woff2") format("woff2"), url("https://blog.qaware.de/fonts/hack-bolditalic-subset.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 400;
  src: local("Metropolis Regular"), local("Metropolis-Regular"), url("https://blog.qaware.de/fonts/Metropolis-Regular.woff2") format("woff2"), url("https://blog.qaware.de/fonts/Metropolis-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 300;
  src: local("Metropolis Light"), local("Metropolis-Light"), url("https://blog.qaware.de/fonts/Metropolis-Light.woff2") format("woff2"), url("https://blog.qaware.de/fonts/Metropolis-Light.woff") format("woff");
}

@font-face {
  font-family: 'Metropolis';
  font-style: italic;
  font-weight: 300;
  src: local("Metropolis Light Italic"), local("Metropolis-LightItalic"), url("https://blog.qaware.de/fonts/Metropolis-LightItalic.woff2") format("woff2"), url("https://blog.qaware.de/fonts/Metropolis-LightItalic.woff") format("woff");
}

@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 500;
  src: local("Metropolis Medium"), local("Metropolis-Medium"), url("https://blog.qaware.de/fonts/Metropolis-Medium.woff2") format("woff2"), url("https://blog.qaware.de/fonts/Metropolis-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Metropolis';
  font-style: italic;
  font-weight: 500;
  src: local("Metropolis Medium Italic"), local("Metropolis-MediumItalic"), url("https://blog.qaware.de/fonts/Metropolis-MediumItalic.woff2") format("woff2"), url("https://blog.qaware.de/fonts/Metropolis-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: 'Cookie';
  font-style: normal;
  font-weight: 400;
  src: local("Cookie-Regular"), url("https://blog.qaware.de/fonts/cookie-v10-latin-regular.woff2") format("woff2"), url("https://blog.qaware.de/fonts/cookie-v10-latin-regular.woff") format("woff");
}

:root {
  --color-mode: 'lit';
  --light: #fff;
  --dark: #262424;
  --gray: #f5f5f5;
  --bubble: #131313;
  --accent: var(--gray);
  --bg: var(--light);
  --text: var(--dark);
  --font: 'Spartan', sans-serif;
  --theme: #28537d
  --theme-secondary: #009ee3 /* corporate design color: blue secondary */ 
;
}

@keyframes showMenu {
  0% {
    top: -100%;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes hideMenu {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: -100%;
    opacity: 0;
  }
}

* {
  box-sizing: border-box;
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
}

body, html {
  scroll-behavior: smooth;
  font-kerning: normal;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: var(--font);
  background-color: var(--bg);
  color: var(--text);
  font-size: 14px;
  line-height: 1.5;
  margin: 0 auto;
  position: relative;
  font-kerning: normal;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

blockquote {
  opacity: 0.8;
  padding: 1rem;
  position: relative;
  quotes: "“" "”" "‘" "’";
  margin: 0.75rem 0;
  display: flex;
  flex-flow: row wrap;
  background-repeat: no-repeat;
  background-size: 5rem;
  background-position: 50% 50%;
  position: relative;
}

blockquote::before {
  content: "";
  padding: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: var(--theme);
}

blockquote p {
  padding-left: 0.5rem !important;
  font-size: 1.1rem !important;
  width: 100%;
  font-weight: 300;
  font-style: italic;
}

code {
  max-width: 100%;
  color: var(--theme);
  overflow-x: auto;
  font-family: Hack, monospace;
  font-size: 90%;
}

h1, h2, h3, h4, h5 {
  font-family: inherit;
  text-transform: capitalize;
  font-weight: 400;
  padding: 0.33rem 0;
  margin: 1rem 0;
  color: inherit;
}

.footnotes li, h1, h2, h3, h4, h5, sup {
  scroll-margin-top: 80px;
}

@media (max-width: 1000px) {
  .footnotes li, h1, h2, h3, h4, h5, sup {
    scroll-margin-top: 60px;
  }
}

h1 {
  font-size: 175%;
  font-weight: 700;
}

h2 {
  font-size: 150%;
  font-weight: 700;
}

h3 {
  font-size: 125%;
}

h4 {
  font-size: 115%;
}

h5 {
  font-size: 110%;
}

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
  margin: 15px auto;
  padding: 0;
}

main {
  padding-bottom: 45px;
  flex: 1;
}

ul {
  list-style: outside;
  -webkit-padding-start: 20px;
  -moz-padding-start: 20px;
  padding-left: 20px;
}

li {
  padding-bottom: 5px;
}

b, strong {
  font-weight: 700;
}

em {
  font-weight: 500;
}

hr {
  border: none;
  padding: 0.5px;
  background: var(--theme);
  opacity: 0.25;
  margin: 2rem 0 0.75rem;
}

table {
  width: 100%;
  max-width: 100%;
  overflow-x: scroll;
  border-collapse: collapse;
  margin: 1rem 0;
  background: transparent;
  border-style: hidden;
}

table:not(.ln-table) tr {
  background-color: var(--accent);
}

th {
  text-align: left;
  color: var(--light);
}

thead tr {
  background: var(--theme) !important;
}

td, th {
  padding: 0.5rem 1rem;
  border: 2px solid var(--bg);
}

aside h3 {
  position: relative;
  margin: 0 !important;
}

figure {
  text-align: center;
  margin-bottom: 35px;
}

figcaption p {
  font-size: 13px !important;
}

figure img {
  margin-bottom: 5px !important;
  text-align: center !important;
}

.article {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.33);
  overflow: hidden;
  border-radius: 0.5rem;
}

.article_title {
  margin: 0;
}

.article_excerpt {
  transition: height 0.5s, opacity 0.5s;
}

.article_excerpt:not(.visible) {
  height: 0;
  opacity: 0;
}

.article_excerpt, .article_meta {
  transform-origin: bottom;
}

.article_meta {
  padding: 10px 1.25rem 1.25rem;
  background: var(--bg);
  color: var(--text);
  position: relative;
  z-index: 2;
  transition: margin-top 0.5s;
}

.article_meta.center_y {
  transform-origin: center;
  transition: transform 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 42rem) {
  .article_meta.center_y {
    left: -2rem;
  }
}

.article_thumb {
  display: grid;
  position: relative;
  z-index: 0;
  overflow: hidden;
  height: 15rem;
  background-size: cover;
  background-position: 50% 50%;
}

@media screen and (min-width: 35rem) {
  .article_thumb {
    height: 22.5rem;
  }
}

.article_thumb img {
  transition: transform 0.5s, opacity 0.5s;
}

.article_thumb::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  z-index: 1;
  background: var(--bg);
  opacity: 0;
  transition: opacity 0.1s ease-out;
}

.article_showcase .article_thumb {
  height: 15rem;
}

.article_showcase .article_meta {
  padding-top: 1.5rem;
}

.article:hover .article_thumb img {
  transform: scale(1.1);
}

.article:hover .article_thumb::after {
  transition: opacity 0.1s ease-out;
  opacity: 0.5;
}

.article:hover .article_excerpt:not(.visible) {
  height: 75px;
  opacity: 1;
}

.article:hover .article_meta:not(.center_y) {
  margin-top: -100px;
}

@media screen and (max-width: 1000px) {
  .article:hover .article_meta:not(.center_y) {
    margin-top: -130px;
  }
}

@media screen and (min-width: 769px) {
  .article:hover .article_meta.center_y {
    transform: translateX(-3rem);
  }
}

.article:hover a {
  color: initial !important;
}

.article_hidden {
  display: none;
}

.article_showcase .article {
  height: 370px;
}

.btn {
  min-width: 150px;
  font-size: 1rem;
  margin: 1rem 0 1.5rem;
  display: inline-block;
  padding: 7.5px 12.5px;
  background-color: var(--theme);
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.5);
  color: var(--light);
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
}

.transparent {
  padding: 25px;
}

.point {
  margin-right: 15px;
  color: var(--theme);
}

@media screen and (min-width: 769px) {
  .nav-menu a {
    display: inline-block;
    height: initial;
    text-align: left;
  }
  .mobile {
    display: none;
  }
}

.video {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin: 1.5rem 0;
  border-radius: 1rem;
  background-color: var(--bg);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.33);
}

.video iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(1.03);
}

.share {
  margin-left: 8px;
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  background-size: 100%;
  cursor: pointer;
}

.share::before, .share::after {
  content: "";
  position: absolute;
  background: var(--theme);
  color: var(--light);
  opacity: 0;
  transition: opacity 0.25s ease-in;
}

.share::before {
  font-size: 0.8rem;
  width: 6.6rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  text-align: center;
  top: -2rem;
  right: 0;
}

.share:hover::before, .share:hover::after {
  opacity: 1;
}

.twitter {
  background-image: url(https://blog.qaware.de/images/icons/twitter.svg);
}

.twitter::before {
  content: "Share on Twitter";
  width: 7.5rem;
}

.twitter_done::before {
  content: "Share on Twitter";
}

.linkedin {
  background-image: url(https://blog.qaware.de/images/icons/linkedin.svg);
}

.linkedin::before {
  content: "Share on Linkedin";
  width: 7.5rem;
}

.linkedin_done::before {
  content: "Share on Linkedin";
}

.email {
  background-image: url(https://blog.qaware.de/images/icons/email.svg);
}

.email::before {
  content: "Share via Email";
  width: 6.6rem;
}

.email_done::before {
  content: "Share via Email";
}

.copy {
  background-image: url(https://blog.qaware.de/images/icons/copy.svg);
}

.copy::before {
  content: "Copy Link";
  width: 5.4rem;
}

.copy_done::before {
  content: "Link Copied";
}

.footer {
  color: var(--text);
  margin: 0;
  width: 100%;
  font-size: 1.05rem;
  min-height: 75px;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

@media screen and (max-width: 567px) {
  .footer {
    flex-direction: column;
  }
}

.footer a {
  color: var(--theme);
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

.footer a:hover {
  text-decoration: underline;
  opacity: 1;
}

.color_mode {
  height: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 3rem;
  align-items: center;
  margin: 2rem 1.5rem 0;
}

.color_choice {
  width: 3rem;
  background-color: var(--theme);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.17);
  border-radius: 1rem;
  height: 1.5rem;
  outline: none;
  border: none;
  -webkit-appearance: none;
  cursor: pointer;
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  position: relative;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15);
}

.color_choice::after {
  content: "";
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
  width: 1.3rem;
  height: 1.3rem;
  background-image: url(/images/sun.svg);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  z-index: 2;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  will-change: transform;
}

#main-nav {
  padding: 0;
  border: 0;
}

#main-nav ul {
  padding-inline-start: unset;
  float: right;
  white-space: nowrap;
  list-style: none;
  height: 80px;
}

#main-nav li {
  display: inline-block;
  height: 80px;
}

#main-nav ul li a {
  padding-left: 16px;
  padding-right: 16px;
  display: block;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 80px;
  text-transform: uppercase;
  color: #262424;
  transition: opacity .5s ease-in-out;
}

#main-nav ul ul {
  box-sizing: content-box;
  position: absolute;
  background: rgba(245, 245, 245, 0.9);
  height: auto;
  min-width: 148px;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  border-left: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
}

#main-nav ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  height: unset;
}

#main-nav ul li:hover > ul, ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

#main-nav ul li ul li {
  clear: both;
  width: 100%;
  display: block;
  height: unset;
  padding-left: 0;
}

#main-nav ul li ul li a {
  line-height: 1.5rem;
  text-transform: unset;
}

#main-nav a:hover {
  color: #28537d;
}

@media (max-width: 1140px) {
  #main-nav ul li a {
    font-size: 0.9375rem;
  }
}

@media (max-width: 1000px) {
  #main-nav ul li a {
    padding-left: 7px;
    padding-right: 7px;
    line-height: 60px;
  }
  #main-nav ul li a {
    font-size: 0.875rem;
  }
  #main-nav ul {
    height: 60px;
  }
  #main-nav li {
    height: 60px;
    padding-left: 0;
  }
}

@media (max-width: 780px) {
  #main-nav ul {
    height: 0;
  }
  #main-nav {
    visibility: hidden;
  }
}

.mobile-nav a:hover {
  color: #28537d;
}

.mobile-nav {
  padding-bottom: 15px;
  overflow-y: hidden;
  box-sizing: content-box;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.4s;
  -webkit-transition-timing-function: linear;
  -moz-transition-property: all;
  -moz-transition-duration: 0.4s;
  -moz-transition-timing-function: linear;
  -ms-transition-property: all;
  -ms-transition-duration: 0.4s;
  -ms-transition-timing-function: linear;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

#mobile-nav-dropdown {
  height: 0;
  overflow-y: hidden;
}

.mobile-nav li {
  font-size: .875rem;
  padding: 0;
  display: block;
  border: 0;
  font-weight: 700;
  text-transform: uppercase;
}

.mobile-nav a {
  padding: 10.5px 3%;
  display: block;
  transition: opacity .5s ease-in-out;
}

.collapsed {
  height: 0;
  padding-bottom: 0;
}

@media (max-width: 780px) {
  #mobile-nav-icon {
    position: relative;
    margin: 8px auto 0;
    border-radius: 7px;
  }
  #mobile-nav-icon-link.open #mobile-nav-icon {
    background: 0 0;
  }
  #mobile-nav-icon a, a:active, a:focus {
    outline: none;
  }
  #mobile-nav-icon, #mobile-nav-icon::after, #mobile-nav-icon::before {
    width: 24px;
    height: 4px;
    background: #262424;
    transition: all, .3s;
  }
  #mobile-nav-icon-link.open #mobile-nav-icon::before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 0px;
  }
  #mobile-nav-icon-link.open #mobile-nav-icon::after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
  }
  #mobile-nav-icon::before {
    top: -8px;
  }
  #mobile-nav-icon-link:hover #mobile-nav-icon::before {
    top: -10px;
  }
  #mobile-nav-icon-link:hover #mobile-nav-icon::after {
    top: 10px;
  }
  #mobile-nav-icon-link.open:hover #mobile-nav-icon::before {
    top: 0;
  }
  #mobile-nav-icon-link.open:hover #mobile-nav-icon::after {
    top: 0;
  }
  #mobile-nav-icon::after, #mobile-nav-icon::before {
    position: absolute;
    border-radius: 7px;
  }
  #mobile-nav-icon::after {
    top: 8px;
  }
  #mobile-nav-icon::after, #mobile-nav-icon::before {
    content: "";
  }
  #mobile-nav-icon-link {
    float: right;
    padding-bottom: 8px;
    padding-right: 8px;
  }
  #mobile-nav-dropdown {
    height: unset;
  }
}

@media (max-width: 720px) {
  #mobile-nav-icon-link {
    padding-right: 7.5px;
  }
}

@media (max-width: 710px) {
  #mobile-nav-icon-link {
    padding-right: 0;
  }
}

@media (max-width: 682px) {
  #mobile-nav-icon-link {
    padding-right: 8px;
  }
}

header {
  width: 100%;
  position: fixed;
  z-index: 2000;
  background: #ffffff;
  border-bottom: 1px solid #cdcdcd;
}

#main-header {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#main-header-logo {
  padding-left: 15px;
  padding-top: 9px;
  float: left;
  width: 25%;
}

#main-header-logo-img {
  width: 168px;
  height: 52px;
}

#main-header-nav-items-container {
  width: 75%;
  float: right;
}

header nav:hover a {
  opacity: .5;
}

header nav li a:hover {
  opacity: 1;
}

header nav li:hover a {
  opacity: 1;
}

header nav:hover ul li ul li a {
  opacity: unset;
}

@media (max-width: 1170px) {
  #main-header-logo {
    padding-left: 30px;
  }
  #main-header-nav-items-container {
    padding-right: 15px;
  }
}

@media (max-width: 1000px) {
  #main-header-logo {
    padding-bottom: 2px;
  }
  #main-header-logo-img {
    width: 123px;
    height: 27px;
  }
  #main-header {
    height: 60px;
  }
}

@media (max-width: 780px) {
  #main-header-logo {
    padding-left: 15px;
  }
  #main-header-logo-img {
    width: 123px;
  }
}

@media (max-width: 720px) {
  #main-header-logo {
    padding-left: 21.5px;
  }
}

@media (max-width: 710px) {
  #main-header-logo {
    width: 75%;
    padding-left: 3%;
  }
  #main-header-nav-items-container {
    width: 25%;
    padding-right: 4.15%;
  }
}

@media (max-width: 682px) {
  #main-header-nav-items-container {
    width: 25%;
    padding-right: 3%;
  }
}

footer {
  background: #565656;
  display: flex;
  justify-content: center;
  padding: 30px 0 138px;
  margin-top: 1px;
}

footer a:hover {
  opacity: .7;
}

.footer-container {
  max-width: 1140px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.short-link-area {
  flex-grow: 1;
  flex-basis: 0;
}

.nav-area {
  flex-grow: 3;
  flex-basis: 0;
}

.margin {
  margin-left: 15px;
  margin-right: 15px;
}

footer .logo-qaware {
  width: 191px;
  height: 43px;
}

footer .logo-qaware img {
  margin: 0;
}

footer .nav-social li:first-child {
  margin-left: 0;
}

footer .nav-social li {
  margin-left: 2.6px;
}

.footer-links {
  width: 215px;
  margin-top: 25px;
  margin-bottom: 25px;
  line-height: 24px;
}

.footer-links a {
  font-size: .875rem;
  color: #fff;
  border: 0;
  font-family: "Spartan", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.foot-single-link {
  display: block;
  margin-top: 0;
}

.footer-table {
  color: #ffffff;
  display: table;
}

.footer-table-cell {
  display: table-cell;
}

.icon-kununu-outline::before {
  content: "\f12a";
}

footer .nav-social a {
  font-size: 29.6px;
}

footer a {
  color: #fff;
}

footer ul {
  list-style: none;
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  padding-left: 0;
}

footer li {
  padding-bottom: 0;
}

.icon {
  font-family: Icons;
  line-height: 1;
  font-weight: 400;
  text-transform: none;
}

.icon-twitter-outline::before {
  content: "\f12d";
}

.icon-linkedin-outline::before {
  content: "\f12b";
}

.icon-git-outline::before {
  content: "\f128";
}

.icon-slideshare-outline::before {
  content: "\f12c";
}

.icon-youtube-outline::before {
  content: "\f12f";
}

.e-social li {
  float: left;
}

.footer-nav > ul > li a, .footer-nav > ul > li span {
  display: block;
  padding-bottom: 15px;
  font-family: "Spartan", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.footer-nav > ul > li a, .footer-nav > ul > li span, .nav-main ul li a {
  text-transform: uppercase;
}

.footer-nav > ul > li ul li, .footer-nav > ul > li ul li a, .voted-company-of span {
  font-weight: 400;
  color: #fff;
  font-family: "Spartan", Helvetica, Arial, sans-serif;
  line-height: 18px;
  margin-bottom: 3px;
}

.footer-nav > ul > li ul li, .footer-nav > ul > li ul li a {
  text-transform: none;
  padding: 0;
}

.footer-nav > ul > li {
  padding-right: 1.3157894737%;
  color: #fff;
  flex-grow: 1;
  flex-basis: 0;
}

.footer-nav > ul {
  display: flex;
}

@media (max-width: 1170px) {
  .footer-container {
    padding-left: 14px;
    padding-right: 15px;
  }
  .footer-links, .nav-social {
    margin-left: 0.5px;
  }
}

@media (max-width: 1100px) {
  .footer-container {
    padding-left: 14px;
    padding-right: 14px;
  }
  .footer-links, .nav-social {
    margin-left: 0.5px;
  }
  .footer-nav a {
    font-size: .8125rem;
    line-height: 24px;
  }
  .margin {
    margin-left: 14px;
    margin-right: 14px;
  }
}

@media (max-width: 880px) {
  .nav-area {
    display: none;
  }
  .footer-container {
    padding-left: 11.5px;
    padding-right: 15px;
  }
}

@media (max-width: 720px) {
  footer {
    padding-bottom: 137px;
  }
  .footer-container {
    padding-left: 3%;
    padding-right: 3%;
  }
  .margin {
    margin-left: 0;
    margin-right: 0;
  }
  .footer-links a {
    line-height: 20px;
    color: #fff;
    border: 0;
  }
  .footer-table {
    font-size: 13px;
    line-height: 20px;
  }
  .footer-links, .nav-social {
    margin-left: 0;
  }
  .e-social {
    padding-top: 1px;
  }
}

.post {
  margin: 0 auto;
  width: 100%;
}

.post p, .post h1, .post h2, .post h3, .post h4, .post h5, .post h6, .post blockquote, .post ol, .post ul, .post hr, .post pre, .post .highlight {
  max-width: 730px !important;
  margin-right: auto;
}

.post h2 {
  position: relative;
  padding-right: 32px;
  margin: 0.5rem auto;
}

.post img:not(.icon) {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.post h3, .post h4 {
  margin: 0.5rem auto;
  text-align: left;
  padding: 5px 0 0 0;
}

.post p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  padding: 0;
  margin: 10px 0;
}

.posts {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 100%;
  align-items: stretch;
}

.posts:not(.aside) {
  padding: 0 30px;
}

.post ol {
  padding: 1rem 1.25rem;
}

.post_body img {
  max-width: 100%;
}

.post_inner {
  max-width: 730px !important;
  margin-right: auto;
}

.post_inner a {
  color: var(--theme);
  transition: all 0.3s;
}

.post_inner a:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.post_inner img:not(.icon) {
  margin-bottom: 2rem;
}

.post_inner img:not(.icon) ~ h1, .post_inner img:not(.icon) ~ h2, .post_inner img:not(.icon) ~ h3, .post_inner img:not(.icon) ~ h4 {
  margin-top: 0;
  padding-top: 0;
}

.post .icon {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.post_date {
  margin-bottom: -1.25rem;
}

.post_copy {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.post_item {
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.17);
  margin: 1.25rem 0;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}

.post_item:hover {
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.255);
}

@media screen and (min-width: 667px) {
  .post_item {
    width: 47%;
  }
}

.post_item:hover .post_copy {
  opacity: 1;
}

.post_link {
  padding: 2.5px 0;
  font-size: 1.25em;
  margin: 2.5px 0;
  text-align: left;
}

.post_meta {
  overflow: hidden;
  opacity: 0.8;
  font-size: 0.84rem;
  font-weight: 500;
  display: inline-grid;
  grid-template-columns: auto 1fr;
  background-color: var(--light);
  padding: 0;
  align-items: center;
  border-radius: 0.3rem;
  color: var(--dark);
  text-transform: capitalize;
}

.post_meta a:hover {
  color: var(--theme);
  text-decoration: underline;
  opacity: 0.9;
}

.post_extra {
  max-width: 1140px;
  display: flex;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  justify-content: flex-end;
}

.post_tag {
  font-size: 0.75rem !important;
  font-weight: 500;
  background: var(--theme);
  color: var(--light);
  padding: 0.25rem 0.67rem !important;
  margin-bottom: 0.2rem !important;
  text-transform: uppercase;
  display: inline-flex;
  border-radius: 5px;
}

.post_title {
  margin: 5px 0;
}

.post_time {
  background: var(--theme);
  display: inline-grid;
  padding: 0.2rem 0.75rem;
  color: var(--light);
}

.post_thumbnail {
  margin: 0;
}

.post_nav {
  max-width: 1140px;
  padding: 2rem 1.5rem;
  display: grid;
  margin: 2.25rem auto 1rem;
  text-align: center;
  color: var(--theme);
  text-transform: uppercase;
}

.post_nav, .post_nav span {
  position: relative;
  z-index: 3;
}

.post_nav::before {
  content: "";
  position: absolute;
  background: var(--accent);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.post_next {
  display: inline-grid;
  margin: 0 auto;
  width: 12rem;
  grid-template-columns: 1fr 1.33rem;
}

.post_next::after {
  content: "";
  background-image: url("https://blog.qaware.de/images/icons/next.svg");
  background-repeat: repeat no-repeat;
  background-size: 0.8rem;
  background-position: center right;
}

.pager {
  display: grid;
  grid-template-columns: 2.5rem 1fr 2.5rem;
  margin: 2rem auto 0;
  max-width: 12.5rem;
}

.pager, .pager_item {
  justify-content: center;
  align-items: center;
}

.pager_item {
  height: 2.5rem;
  width: 2.5rem;
  display: inline-flex;
  margin-left: 5px;
  margin-right: 5px;
  background-color: var(--accent);
  color: var(--light);
  border-radius: 50%;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.pager_item:hover {
  opacity: 0.5;
}

.pager_prev {
  background-image: url(https://blog.qaware.de/images/icons/previous.svg);
}

.pager_next {
  background-image: url(https://blog.qaware.de/images/icons/next.svg);
}

.pager span {
  text-align: center;
}

.excerpt {
  padding: 0 10px 1.5rem 10px;
  position: relative;
  z-index: 1;
}

.excerpt_meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-2.5rem);
  position: relative;
  z-index: 5;
}

.archive_item_summary {
  display: grid;
  padding: 0 0 1.5rem 0;
}

@media (max-width: 720px) {
  .post p, .post li {
    font-size: 0.8125rem;
    line-height: 20px;
  }
  .post_inner {
    padding-right: 0;
  }
}

.tag-container {
  column-count: 3;
}

@media (max-width: 1000px) {
  .tag-container {
    column-count: 2;
  }
}

@media (max-width: 780px) {
  .tag-container {
    column-count: 1;
  }
}

.tag-letter-box {
  margin-bottom: 45px;
  break-inside: avoid;
}

.tag-letter {
  margin-top: 0;
  margin-bottom: 10px;
}

ul.tag-list {
  list-style: none;
}

.pale {
  opacity: 0.7;
}

.closed {
  display: none;
}

.center {
  text-align: center;
  margin: 5px auto;
}

.left {
  text-align: left;
}

.link {
  display: inline-block;
  margin: 0 0.25rem;
  padding: 0 0.25rem;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.link_owner:hover .link {
  opacity: 0.9;
}

.wrap {
  max-width: 1140px;
}

.wrap, .wrap {
  padding: 0 15px;
  margin: 0 auto;
}

.pt-1 {
  padding-top: 1.5rem;
}

.pb-1 {
  padding-bottom: 1.5rem;
}

.mt-1 {
  margin-top: 1.5rem;
}

.mb-1 {
  margin-bottom: 1.5rem;
}

.pt-2 {
  padding-top: 3rem;
}

.pb-2 {
  padding-bottom: 3rem;
}

.mt-2 {
  margin-top: 3rem;
}

.mb-2 {
  margin-bottom: 3rem;
}

.pt-3 {
  padding-top: 4.5rem;
}

.pb-3 {
  padding-bottom: 4.5rem;
}

.mt-3 {
  margin-top: 4.5rem;
}

.mb-3 {
  margin-bottom: 4.5rem;
}

.pt-4 {
  padding-top: 6rem;
}

.pb-4 {
  padding-bottom: 6rem;
}

.mt-4 {
  margin-top: 6rem;
}

.mb-4 {
  margin-bottom: 6rem;
}

.pt-5 {
  padding-top: 7.5rem;
}

.pb-5 {
  padding-bottom: 7.5rem;
}

.mt-5 {
  margin-top: 7.5rem;
}

.mb-5 {
  margin-bottom: 7.5rem;
}

.pt-6 {
  padding-top: 9rem;
}

.pb-6 {
  padding-bottom: 9rem;
}

.mt-6 {
  margin-top: 9rem;
}

.mb-6 {
  margin-bottom: 9rem;
}

.pt-7 {
  padding-top: 10.5rem;
}

.pb-7 {
  padding-bottom: 10.5rem;
}

.mt-7 {
  margin-top: 10.5rem;
}

.mb-7 {
  margin-bottom: 10.5rem;
}

.pt-8 {
  padding-top: 12rem;
}

.pb-8 {
  padding-bottom: 12rem;
}

.mt-8 {
  margin-top: 12rem;
}

.mb-8 {
  margin-bottom: 12rem;
}

.grid-2, .grid-3, .grid-4, .grid-auto, .grid-reverse {
  display: grid;
  grid-template-columns: 1fr;
}

[class*='grid-'] {
  grid-gap: 2rem;
}

@media screen and (min-width: 42rem) {
  .grid-auto {
    grid-template-columns: 1fr 3fr;
  }
  .grid-reverse {
    grid-template-columns: 3fr 1fr;
  }
  .grid-2 {
    grid-template-columns: 1fr 1fr;
  }
  .grid-3 {
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  }
  .grid-4 {
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  }
}

.mt {
  margin-top: 5rem;
}

.never {
  min-height: 60vh;
  background: url("https://blog.qaware.de/images/sitting.svg");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0 1.5rem;
  margin-top: 6rem;
}

.never_title {
  text-align: left;
}

@media (max-width: 1170px) {
  .wrap {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 1000px) {
  .wrap {
    padding: 0 30px;
  }
}

@media (max-width: 780px) {
  .wrap {
    padding: 0 15px;
  }
}

@media (max-width: 780px) {
  .wrap {
    padding: 0 3%;
  }
}

.highlight {
  font-family: Hack, monospace;
  font-size: 12px;
  margin: 1.5rem 0 2.5rem;
  padding: 0 !important;
}

.highlight .highlight {
  margin: 0;
}

.highlight code {
  line-height: 1.7;
  color: unset;
  font-size: unset;
}

.highlight pre {
  padding: 1rem;
  background: var(--accent) !important;
  color: var(--text) !important;
  border-radius: 4px;
  max-width: 100%;
  overflow-x: auto;
}

.highlight table {
  display: grid;
  overflow: unset;
}

.highlight .lntd {
  width: 100%;
  border: none;
}

.highlight .lntd:first-child, .highlight .lntd:first-child pre {
  width: 2.5rem !important;
  padding-left: 0;
  padding-right: 0;
  color: var(--light) !important;
  background-color: var(--theme) !important;
  border-radius: 0.25rem 0 0 0.25rem;
}

.highlight .lntd:first-child pre {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.highlight .lntd:last-child {
  padding-left: 0;
}

.err {
  color: #a61717;
  background-color: #e3d2d2;
}

.hl {
  display: block;
  width: 100%;
  background-color: #ffffcc;
}

.ln {
  margin-right: 0.4rem;
  padding: 0 0.4em 0 0.4rem;
  color: #666;
}

.k, .kc, .kd, .kn, .kp, .kr, .kt, .nt {
  color: #6ab825;
  font-weight: 500;
}

.kn, .kp {
  font-weight: 400;
}

.nb, .no, .nv {
  color: #24909d;
}

.nc, .nf, .nn {
  color: #447fcf;
}

.s, .sa, .sb, .sc, .dl, .sd, .s2, .se, .sh, .si, .sx, .sr, .s1, .ss {
  color: #ed9d13;
}

.m, .mb, .mf, .mh, .mi, .il, .mo {
  color: #3677a9;
}

.ow {
  color: #6ab825;
  font-weight: 500;
}

.c, .ch, .cm, .c1 {
  color: #999;
  font-style: italic;
}

.cs {
  color: #e50808;
  background-color: #520000;
  font-weight: 500;
}

.cp, .cpf {
  color: #cd2828;
  font-weight: 500;
}

.gd, .gr {
  color: #d22323;
}

.ge {
  font-style: italic;
}

.gh, .gu, .nd, .na, .ne {
  color: #ffa500;
  font-weight: 500;
}

.gi {
  color: #589819;
}

.go {
  color: #ccc;
}

.gp {
  color: #aaa;
}

.gs {
  font-weight: 500;
}

.gt {
  color: #d22323;
}

.w {
  color: #666;
}

@media (max-width: 720px) {
  .highlight code {
    font-size: 10px;
  }
}

/*# sourceMappingURL=main.css.map */